//TODO: make it responsive

body {
  background-color: #000000;
  height: 100vh;
  position: absolute;

  main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 30%;
    left: 20%;

    .rules {
      width: 25%;
      height: 50%;
      padding: 10%;
    }

    .game {
      margin-right: 15%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      gap: 50px;
      width: 60%;
      height: 60%;

      :first-child {
        align-self: flex-end;
      }

      .health-bar {
        color: #ffffff;

        display: flex;
        height: 5vh;

        ul {
          display: flex;
          list-style: none;

          li {
          }
        }
      }

      .main-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;

        :first-child {
          align-self: center;
        }

        form {
          margin: 2em;

          display: flex;
          justify-content: center;
          gap: 30px;

          h1 {
            text-align: center;

          }

          input {
            width: 20%;
          }
        }
      }
    }
  }
}
